h1 {
    margin-left: 50px;
    font-size: 100px;
}

.calander ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
}

.calander li {
    list-style: none;
    font-size: 50px;
    height: 100px;
    background-color: lightslategrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    font-size: 30px !important;
    background-color: aqua !important;
    font-weight: bold;
}

.other {
    background-color: lightgreen !important;
}